@import url("https://fonts.googleapis.com/css2?family=Edu+SA+Beginner&display=swap");
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: 900;
  height: 100vh;
  font-family: "Edu SA Beginner", cursive, sans-serif;
}

button {
  font-size: 20px;
  font-weight: 900;
  font-family: "Edu SA Beginner", cursive, sans-serif;
}

.calc-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 3px solid #4e4feb;
  border-radius: 5px;
  width: 15%;
  min-width: 300px;
  background-color: #068fff;
  gap: 10px;
  padding: 1em;
}

.row {
  display: flex;
  width: 100%;
  gap: 10px;
}

.screen-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #eeeeee;
  border-radius: 1rem;
  border: 2px solid #4e4feb;
}
.previewOfOperation,
.operation {
  width: 95%;
  margin: 1em 0;
  text-align: right;
  word-break: break-all;
  font-weight: 900;
}

.operation {
  font-size: 25px;
}

.previewOfOperation {
  font-size: 18px;
  opacity: 0.5;
}

.block {
  height: 4rem;
  flex: 1;
  width: 95%;
  border-radius: 75%;
  background-color: #eeeeee;
  border: 2px solid #4e4feb;
}

button:hover {
  background-color: #4e4feb;
}
